.chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  list-style-type: none;
}

.char {
  width: 190px;
  margin: var(--spacing-medium);
  border-radius: var(--bdr-small);
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  a {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
  }

  &__img {
    border-radius: var(--bdr-small) var(--bdr-small) 0 0;
    max-width: 100%;
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top center;
  }

  &__name {
    text-align: center;
    display: block;
    padding: 0.5em var(--spacing-small);
    color: var(--color-white);
    text-shadow: var(--text-shadow-blue);
  }
}