:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;

  --ff-main: sans-serif;

  --spacing-medium: 20px;
  --bdr-small: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--ff-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
